.phone-number {
  @include improve-text-rendering;
  background: darken($purple, 5%);
  color: #fff;
  font-size: 13px;
  line-height: 18px;
  padding: 15px 20px;
  position: absolute;
  top: 0;
  right: 0;

  .phone {
    font-size: 21px;
  }

  .from-overseas {
    font-size: 9px;
    line-height: 10px;
  }
}